.button {
  @include font-size();
  display: inline-block;
  width: 100%;
  max-width: 256px;
  padding: 10px 5px;
  margin: 0 auto;
  overflow: hidden;
  color: #eee;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 4px;

  &:hover {
    color: #eee;
    background-color: #333;
    transition: 0.2s;
    transition-timing-function: ease-out;
  }

  &--nav {
    color: #666;
    background-color: #eee;
  }

  &--nav:hover {
    color: #333;
    background-color: #ccc;
  }

  &--disabled {
    display: none;
  }
}
