.header {
  max-width: $max-width;
  margin: 0 auto $gutter;
  background-color: rgba(0, 0, 0, 0.9);

  .nav {
    position: fixed;
  }

  .nav-box {
    list-style: none;
  }

  .nav-item {
    display: inline-block;

    .nav-link {
      display: block;
      padding: 6px 12px;
      text-decoration: none;
    }
  }
}
