.index {
  min-width: 100%;
  min-height: 100%;
  background-image: url("img/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top left;

  @media (min-width: 600px) {
    background-position: top center;
  }

  @media (min-width: 1200px) {
    background-position: center;
    background-size: cover;
  }

  .intro {
    min-height: 100vh;
    justify-content: center;
    align-content: center;

    .heading {
      &--one {
        @include font-size(36);
        text-align: center;
      }

      &--two {
        @include font-size(72);
        text-align: center;
      }
    }

    .button {
      &--one {
        @include font-size();
      }
    }
  }
}
