.index {
  min-width: 100%;
  min-height: 100%;
  background-image: url("img/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top left;

  @media (min-width: 600px) {
    background-position: top center;
  }

  @media (min-width: 1200px) {
    background-position: center;
    background-size: cover;
  }

  .intro {
    min-height: 100vh;
    justify-content: center;
    align-content: center;
    text-align: center;

    .heading {
      &--one {
        @include font-size(36);
      }

      &--two {
        @include font-size(72);
      }
    }

    .button {
      &--one {
        @include font-size(36);
        width: 140px;
        margin-top: 80px;
      }
    }
  }

  .chap1 {

  }

  .chap2 {}
}
