.kaupa {
  min-width: 100%;
  min-height: 100%;
  background-image: url("img/bg-subpage.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top left;

  @media (min-width: 600px) {
    background-position: top center;
  }

  @media (min-width: 1200px) {
    background-position: center;
    background-size: cover;
  }
}

.intro {
  min-height: 100vh;
  justify-content: center;
  align-content: center;
}

.heading {
  &--indexOne {
    @include font-size(72);
    text-align: center;
  }

  &--indexTwo {
    @include font-size(36);
    text-align: center;
  }
}

.button {
  &--indexOne {
    @include flow-size();
  }
}

