/* Mikið notaðar breytur. */
$max-width: 1200px;
$gutter: 20px;
$base-font-size: 16px;

html { /* stylelint-disable-line */
  box-sizing: border-box;
  margin-right: $gutter;
  margin-left: $gutter;

  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-size: $base-font-size;

  @media (min-width: $max-width) {
    margin: 0;
  }
}

input, select, textarea, button { /* stylelint-disable-line */
  font-family: inherit;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}


img { /* stylelint-disable-line */
  max-width: 100%;
}

main { /* stylelint-disable-line */
  max-width: $max-width;
  margin: 0 auto;
  overflow-x: hidden;
}

/* mixin sem skilar rem útgáfu af $size.
    Semsagt myndi font-size(32) skila 2rem ef html { font-size: 16px; } */
@mixin font-size($size: $base-font-size) {
  font-size: $size + px;
  font-size: $size/$base-font-size + rem;
}

@import "scss/grid";
@import "scss/size";
@import "scss/button";
@import "scss/heading";
@import "scss/header";
@import "scss/footer";
/* @import "scss/kaupa"; */ /* stylelint-disable-line */
@import "scss/index";
@import "scss/um";
@import "scss/text";
