body {
	
	padding-top: 50px;
	font-size: 12px;

	margin: auto;

	/*display: flex;
	*/

}

.container {
	
	display: inline-flex;
	flex-direction: row;
	justify-content: space-around;
	
	
	width: 100%;
	margin: 40px auto 0 auto;
	

}

.personal_info {
	max-width: 80%;
	flex: 1;
	flex-grow: 1;
	
	margin-left: 10%;
	
	
}

.paying_method {
	max-width: 80%;
	flex: 1;
	flex-grow: 1;
	
	

	
}

.text {
	width: 60%;
}

.card-select {
	width: 60%;
}

.heading {
	font-size: 30px;
}

.duration {
	display: inline-flex;
	width: 85%;
}

.month {
	flex: 1;

}

.month-select {
	width: 30%;
	margin-left: 7%;
}

.year-select {
	width: 30%;
	margin-left: 7%;
}

.year {
	flex: 1;
}

input[type=text] {
	border-radius: 4px;
	border: 2px solid #e6e6e6;
}

input[type=tel] {
	border-radius: 4px;
	border: 2px solid #e6e6e6;
}

select {
	border: 2px solid #e6e6e6;
}
